{% extends "base.twig" %}

{% block content %}
    <div class="text-center">
        <h1 class="display-1">404</h1>
        <h2 class="mb-4">Page non trouvée</h2>
        <p>Désolé, la page que vous cherchez n'existe pas.</p>
        <a href="/3A2526-Blog/public/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
